.job {
  padding: 1rem;
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__position {
    font-size: 2rem;
  }
  &__location {
  }
  &__task-list {
    list-style-type: disc;
    padding-left: 2rem;
  }
  &__task {
  }
  &__info {
    margin-top: 1rem;
  }
  &__program-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  &__program {
    color: gold;
  }
  &__logo {
    width: 35px;
  }
}
