@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;
.hamburger {
  cursor: pointer;
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
  &__burger {
    width: 2rem;
    height: 0.24rem;
    border-radius: 10px;
    background-color: white;
    transform-origin: 1px;
    transition: all 0.3s linear;
  }
  &__burger1--open {
    transform: rotate(45deg);
    background-color: black;
  }
  &__burger2--open {
    transform: translateX(100%);
    opacity: 0;
    background-color: black;
  }
  &__burger3--open {
    transform: rotate(-45deg) translateY(2px) translateX(-2px);
    background-color: black;
  }
  @include tablet {
    display: none;
  }
}
