/* ---------------------------------- Fonts --------------------------------- */
// Font Family
$font-family-primary: "RobotoCondensed", sans-serif;

// Font Weights
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-light: 200;
$font-weight-extra-light: 100;

/* ------------------------------ Border Radii ------------------------------ */
$border-radius-inputs: 0.5rem;
$border-radius-circle: 2rem;

/* --------------------- Colours -------------------- */
$color-light-green: #d8e2dc;
$color-light-orange: #ffe5d9;
$color-light-pink: #ffcad4;
$color-light-red: #f4acb7;
$color-light-brown: #9d8189;

$color-black: rgba(black, 0.7);
$color-text: white;
$color-background: #1a2737;
$color-dark-blue: #355070;
$color-darker-blue: rgba(#355070, 0.8);
$color-dark-purple: #6d597a;
$color-dark-rose: #b56576;
$color-dark-green: #76c759;
$color-dark-red: #fe6065;
$color-dark-orange: #eaac8b;
$color-orange: #da7b48;

/* --------------------- Screen Sizes -------------------- */

$tablet-min-size: 768px;
$desktop-min-size: 1280px;

$side-margin-mobile: 1rem;
$side-margin-tablet: 1.5rem;
$side-margin-desktop: 1.6rem;
