@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.projects {
  border-top: 1px solid white;
  &__header {
    margin: 1rem;
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: space-around;
    // align-items: flex-end;
    flex-wrap: wrap;
    gap: 0.1rem;
  }
}
