@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.project {
  width: 100%;
  @include tablet {
    width: calc(50% - 1rem);
  }
  @include desktop {
    width: 33%;
  }
  &__img {
    width: 100%;
  }
  &__title {
    font-size: 2rem;
  }
  &__context {
    font-style: italic;
  }
  &__description {
  }
  &__techstack {
    display: flex;
    gap: 1rem;
  }
  &__tech-item {
    color: $color-light-blue;
  }
  &__button {
    margin: 1rem;
    width: 50%;
  }
  &__link {
    width: 100%;
    &:hover {
      transition: all 0.2s ease-in-out;
      filter: invert(100%);
    }
  }
}
