@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.project {
  width: 100%;
  padding: 1rem;
  align-content: space-between;
  @include tablet {
    width: calc(50% - 1rem);
  }
  @include desktop {
    width: 33%;
  }
  &__img {
    width: 80%;
    display: flex;
    margin: 0 auto;
    border-radius: 5%;
    align-items: center;
    align-content: center;
    @include tablet {
      width: 100%;
    }
    @include desktop {
      width: 100%;
    }
  }
  &__title {
    font-size: 2rem;
  }
  &__context {
    font-style: italic;
  }
  &__description {
    margin: 0.4rem 0rem;
  }
  &__techstack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
  }
  &__tech-item {
    color: $color-light-blue;
  }
  &__button {
    margin: 1rem;
    width: 50%;
  }
  &__link {
    width: 100%;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
    &:hover {
      transition: all 0.2s ease-in-out;
      filter: invert(100%);
    }
  }
}
