@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.experience {
  padding: 2rem 1rem;
  background-color: $color-black-background;
  &__header {
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    @include tablet {
      flex-direction: row;
    }
  }
  &__nav {
    flex: 1;
    margin: 1rem 0;
    display: none;
    @include tablet {
      display: block;
    }
  }
  &__job {
    flex: 3;
  }
  &__option {
    padding: 1rem;
    cursor: pointer;
    border-left: 4px solid rgba(grey, 0.1);
    transition: ease-in-out;
    transition-duration: 0.3s;
    &--selected {
      background-color: $color-nav-background;
      border-left: 4px solid $color-nav-border;
    }
    &--volunteer {
      color: $color-nav-volunteer;
    }
    &:hover {
      background-color: rgba($color-nav-background, 0.4);
      border-left: 4px solid rgba($color-nav-border, 0.4);
    }
  }
  &__select {
    margin: 1rem 0;
    border: none;
    @include tablet {
      display: none;
    }
    &:focus {
      border: none;
    }
  }
}
